p {
  color: #003333;
}

h1, h2, h3 {
  color: #000033;
}

a {
  color: #2e8ad1;
}

a:hover {
  color: #2e8ad1;
}

body {
  font-family: "Georgia", serif;
}

h1, h2, h3, h4 {
  font-family: "Georgia", serif;
}


